# Internal monolith API
API_BASE_URL=http://api:80
API_KEY=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# GitHub
GITHUB_TOKEN=

# Scanner
SCANNER_INTERVAL=300

# Logging
LOG_LEVEL=warning
LOG_PATH=php://stderr
