/vendor/

.env
.env.local
.env.*.local

/.phpstan/
/phpstan.cache
/.deptrac.cache

/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/coverage.xml

/.idea/
*.iml

.DS_Store
Thumbs.db

/docker/data/

*.log
/logs/

/tests/E2E/screenshots

scanner-service/vendor
.phpunit.result.cache